*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000;
}
.card{
    width: 100%;
    border-radius: 13px;
}
.card1{
    background-color: #5390b5;
    width: 100%;
}
.innercard{
    width: 100%;background-color: #eef8fe;
    border-radius: 11px;
}
.navbar-brand{font-weight: 700;
    font-size: 22px;
}
.go{
    color: #119cff;
}
.home{color: #119cff;
}
.nav-item{
    font-weight: 500;
    color: #000000;
}
.heading{
    font-weight: 700;
    font-size: 35px;
}
.text{
    font-size: 32px;
    font-weight: 700;
    color: #0f1113b8;
}